.sa-input {
  box-sizing: border-box;
  width: 100%;
}

.sa-text {
  padding: 10px 28px 10px 15px;
}

.sa-dropdown {
  height: auto;
}

.sa-textarea {
  resize: vertical;
  height: auto;
  padding: 10px 28px 10px 15px;
}

.sa-form {
  position: relative;
}

.sa-form-review {
  margin: 0 auto;
  background-color: white;
}

.sa-form-body {
  background-color: white;
  color: black;
}

.sa-form-field {
  margin: 20px 0;
}

.sa-form-page {
  padding: 1px 0;
  max-width: 1024px;
  margin: 0 auto;
}

.sa-form-page-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 10px 0;
}

.sa-form-page-prev,
.sa-form-page-next,
.sa-form-page-submit {
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  width: 200px;
  min-width: 20%;
  max-width: 46%;
  margin-bottom: 10px;
}

.sa-form-page-prev.disabled,
.sa-form-page-next.disabled,
.sa-form-page-submit.disabled {
  filter: brightness(50%);
  cursor: not-allowed;
}

@media only screen and (max-width: 600px) {

  .sa-form-page-prev,
  .sa-form-page-next,
  .sa-form-page-submit {
    width: 100%;
    min-width: 50%;
    max-width: 100%;
  }
}

.sa-form-page-prev:active,
.sa-form-page-next:active,
.sa-form-page-submit:active {
  filter: brightness(105%);
}

.sa-character-counter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sa-character-limit-exceeded input,
.sa-character-limit-exceeded textarea,
.sa-invalid {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}

.sa-invalid-label {
  color: red;
}

.sa-character-limit-exceeded label {
  color: red;
}

.sa-required::before {
  content: '* ';
  color: red;
}

.sa-input.sa-required::before {
  position: absolute;
  top: -26px;
  content: '*';
  color: red;
}

/* Radio Buttons */
.sa-radio-container {
  display: block;
  position: relative;
  padding-left: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.sa-radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}

.sa-radio-container label {
  cursor: pointer;
  margin: 0;
}

.sa-radio {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #669f34;
  border-radius: 50%;
  cursor: pointer;
}

.sa-radio-checkmark {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  content: '';
  display: none;
}

.sa-radio-container:hover input~.sa-radio>.sa-radio-checkmark {
  background-color: #669f34;
  content: '';
  display: block;
}

.sa-radio-container input:checked~.sa-radio>.sa-radio-checkmark {
  display: block;
}

.sa-radio-container .sa-radio-label {
  margin-left: 26px;
}

/* Checkbox */
.sa-checkbox-container {
  display: block;
  position: relative;
  padding-left: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox button */
.sa-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.sa-checkbox-container label {
  cursor: pointer;
}

/* Create a custom checkbox button */
.sa-checkbox {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #669f34;
  border-radius: 25%;
  cursor: pointer;
}

.sa-checkbox-checkmark {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 25%;
}

.sa-checkbox-checkmark {
  content: '';
  position: absolute;
  display: none;
}

.sa-checkbox-container:hover input:not(:checked)~.sa-checkbox>.sa-checkbox-checkmark {
  content: '';
  display: block;
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #669f34;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-checkbox-container input:checked~.sa-checkbox>.sa-checkbox-checkmark {
  display: block;
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-checkbox-container .sa-checkbox-label {
  margin-left: 26px;
}

.sa-form-divider {
  padding: 8px 0;
}

.sa-form-video {
  width: 420px;
  height: 315px;
}

.sa-form-video-container {
  width: 420px;
  text-align: center;
}


.sa-formRating .sa-formRating--Container {
  background-color: #ffffff;
  border-top: solid 1px #9e9e9e;
  border-bottom: solid 1px #9e9e9e;
  border-right: solid 1px #9e9e9e;
  border-left: solid 1px #9e9e9e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sa-invalid-rating .sa-formRating .sa-formRating--Container {
  border: 1px solid red;
}

.sa-formRating .sa-formRating--Container:not(:checked)>input {
  display: none;
}

.sa-formRating .sa-formRating--Container .sa-formRating--Container-Link {
  padding: 16px 10px 10px 10px;
  height: 26px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.sa-chooseFile {
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #E1E1E1;
  color: #1e1e1e;
  border-radius: 6px;
  border: none;
  margin-bottom: 25px;
  line-height: inherit;
  font-size: 16px;
}

.sa-chooseFile:hover {
  background-color: #d1d1d1;
  color: #1e1e1e;
  border: none;
}

.sa-fileDiv {
  padding-top: 15px;
}

.sa-uploadedFileContainer {
  margin: 25px 0;
}

.sa-uploadedFile {
  border: 1px solid #C3C3C3;
  border-radius: 6px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px 0;
}

.sa-uploadedFile .sa-uploadedFile--Remove {
  justify-content: flex-end;
  color: #D0021B;
  cursor: pointer;
  align-self: center;
}

.sa-uploadedFile .sa-uploadedFile--FileName {
  padding-left: 10px;
}

.sa-uploadedFile .sa-uploadedFile--Size {
  font-size: 12px;
}

.sa-loadingSpinner {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 10px;
  height: 10px;
  animation: sa-loadingSpinner 2s linear infinite;
}

.sa-loadingSpinner.sa-loadingSpinner-GridRow {
  width: 12px;
  height: 12px;
}

.sa-loadingSpinner.sa-loadingSpinner-Inline {
  margin-right: 5px;
}

.sa-loadingSpinner.sa-loadingSpinner-ActivityTimeline {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

@-webkit-keyframes sa-loadingSpinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes sa-loadingSpinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes sa-loadingSpinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}


.l-SA-FormRating {
  display: flex;
  flex-direction: row;
  flex: 0 0 98%;
  flex-wrap: wrap;
}

.l-SA-UploadFile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.l-SA-FileName {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sa-ico-CircleCheck {
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-image: url(https://my.serviceautopilot.com/v3-images/CircleCheck.svg);
  filter: brightness(0) saturate(100%) invert(43%) sepia(100%) saturate(421%) hue-rotate(97deg) brightness(97%) contrast(93%);
}

.sa-ico-Trashcan {
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-image: url(https://my.serviceautopilot.com/v3-images/Trashcan.svg);
  filter: invert(9%) sepia(97%) saturate(6260%) hue-rotate(349deg) brightness(90%) contrast(102%);
  /*red*/
}

.sa-ico-Failed {
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-image: url(https://my.serviceautopilot.com/v3-images/void.svg);
  filter: invert(9%) sepia(97%) saturate(6260%) hue-rotate(349deg) brightness(90%) contrast(102%);
  /*red*/
}

.sa-ico-Processing {
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-image: url(https://my.serviceautopilot.com/v3-images/Processing.svg);
  animation-name: rotateCounterClockwise;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateCounterClockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@media only screen and (max-width: 767.98px) {
  .sa-form-video {
    width: 100%;
    height: 245px;
  }

  .sa-input-wrapper {
    width: 100% !important;
  }
}

.sa-form-confirmation-message,
.sa-submission-progress-box {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sa-submission-progress-box {
  width: calc(100vw - 40px);
  max-width: calc(100% - 40px);
}

.sa-form-confirmation-message {
  background-color: rgb(255, 255, 255);
}

.sa-submission-progress-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(1, 1, 1, 0.25);
  width: 100%;
  height: 100%;
}

.sa-form-confirmation-message img {
  width: 100px;
  height: 100px;
}

.sa-form-confirmation-message .sa-form-confirmation-message-content,
.sa-submission-progress-box .sa-submission-progress-message {
  padding: 20px;
  line-height: 1.5em;
  max-height: 90vh;
  overflow: auto;
}

@keyframes sa-ellipses-slide-1 {
  0% {
    transform: translateX(32px);
  }

  10% {
    transform: translateX(32px);
  }

  50% {
    transform: translateX(80px);
  }

  90% {
    transform: translateX(128px);
  }

  100% {
    transform: translateX(128px);
  }
}

@keyframes sa-ellipses-slide-2 {
  0% {
    transform: translateX(80px);
  }

  10% {
    transform: translateX(80px);
  }

  50% {
    transform: translateX(128px);
  }

  90% {
    transform: translateX(32px);
  }

  100% {
    transform: translateX(32px);
  }
}

@keyframes sa-ellipses-slide-3 {
  0% {
    transform: translateX(128px);
  }

  10% {
    transform: translateX(128px);
  }

  50% {
    transform: translateX(32px);
  }

  90% {
    transform: translateX(80px);
  }

  100% {
    transform: translateX(80px);
  }
}

.sa-ellipses {
  margin-left: -24px;
  width: 160px;
}

.sa-ellipses div {
  position: absolute;
  transform: translateX(32px) scale(1);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 12px;
  background-color: white;
  border: 1px solid #1e1e1e;
}

.sa-ellipses div:nth-child(1) {
  animation: sa-ellipses-slide-1 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}

.sa-ellipses div:nth-child(2) {
  animation: sa-ellipses-slide-2 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}

.sa-ellipses div:nth-child(3) {
  animation: sa-ellipses-slide-3 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}
